<div class="row g-0">
  <div class="d-none d-md-block col-md-6 p-0" id="imagen">
    <img src="../../assets/sanji.jpg" alt="Registro" class="img-fluid">
  </div>
  <div class="col-md-6" id="centrar">
    <div class="h1 text-primary fw-bold text-center my-4">Bienvenido de nuevo</div>
    <form (ngSubmit)="login()" #form="ngForm">
      <div class="row g-0">
        <div class="form-group form-floating my-1 offset-md-3 col-md-6">
          <input type="text" class="form-control" autocomplete="off" name="usuario"
          placeholder="Usuario" [(ngModel)]="userLogin.usuario" required>
          <label>Usuario</label>
        </div>
        <div class="form-group form-floating my-1 offset-md-3 col-md-6">
          <input type="password" class="form-control" name="password"
          placeholder="Contraseña" [(ngModel)]="userLogin.password" required>
          <label>Contraseña</label>
        </div>
      </div>
      <div class="row g-0 my-2 align-items-center" id="alertLogin">
        <div class="offset-md-3 col-md-6 text-center mt-4">
          <button type="submit" class="btn btn-primary"
          [disabled]="form.invalid">Iniciar sesión</button>
        </div>
      </div>
    </form>
    <div class="text-center mb-5">
      <a [routerLink]="['/registro']">No tengo cuenta</a>
    </div>
  </div>
</div>
