<div class="row g-0">
  <div class="d-none d-md-block col-md-6 p-0" id="imagen">
    <img src="../../assets/sanji.jpg" alt="Registro" class="img-fluid">
  </div>
  <div class="col-md-6" id="centrar">
    <div class="h1 text-primary fw-bold text-center my-4">Bienvenido de nuevo</div>
    <form (ngSubmit)="login()" #form="ngForm">
      <div class="row g-0">
        <div class="form-group form-floating my-1 offset-md-3 col-md-6">
          <input type="text" class="form-control" autocomplete="off" [ngClass]="{'is-valid':usuarioExistente(nameUser)}"
          name="usuario" placeholder="Usuario" [(ngModel)]="nameUser" required (input)="getUsuario(nameUser)">
          <div class="valid-feedback">Hola {{userLogin.datosUsuario!.nombre}}, te echábamos de menos</div>
          <label>Usuario</label>
        </div>
        <div class="form-group form-floating my-1 offset-md-3 col-md-6" [hidden]="!usuarioExistente(nameUser)">
          <input type="password" class="form-control" [ngClass]="{'is-invalid':userLogin.password !== passwordLogin && passwordLogin,
          'is-valid':userLogin.password === passwordLogin && passwordLogin}" name="password" placeholder="Contraseña"
          [(ngModel)]="passwordLogin" required [pattern]="userLogin.password!">
          <div class="invalid-feedback">Tu contraseña no es esa...</div>
          <div class="valid-feedback">Contraseña correcta</div>
          <label>Contraseña</label>
        </div>
      </div>
      <div class="row g-0 my-2 align-items-center">
        <div class="offset-md-3 col-md-6 text-center mt-4">
          <button type="submit" class="btn btn-primary"
          [disabled]="form.invalid || !usuarioExistente(userLogin.usuario)">Iniciar sesión</button>
        </div>
      </div>
    </form>
    <div class="text-center mb-5">
      <a [routerLink]="['/registro']">No tengo cuenta</a>
    </div>
  </div>
</div>
