<div class="row g-0 pb-lg-5">
  <div class="offset-1 col-10 text-center">
    <h1 class="display-5 text-danger fw-bold mt-5 mb-3">Borrar cuenta</h1>
    <h5>¿Estás seguro de que quieres borrar tu cuenta?</h5>
    <h5 class="h5 text-danger">Se borrarán todas tus recetas, por lo que nadie podrá verlas.</h5>
    <h5>Si aun así deseas borrar tu cuenta, pulsa en el siguiente botón:</h5>
    <button type="button" class="btn btn-lg btn-danger mt-3" (click)="deleteUsuario()">Borrar datos</button>
  </div>
</div>
