ul {
  list-style: none;
}

ul li::before {
  content: "\2743";  /* CSS Code/unicode for a heavy teardrop-spoked pinwheel asterisk */
  color: #78c2ad;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

section {
  view-timeline-name: --reveal-section;
  view-timeline-axis: block;

  animation-name: show;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: --reveal-section;

  animation-range: entry 10% cover 20%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 75%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
