<div class="row g-0">
  <div class="d-none d-md-block col-md-4 col-lg-6 p-0">
    <img src="../../assets/sanji.png" alt="Registro" class="object-fit-cover w-100" [ngStyle]="{'height':'calc(100vh - 76px)'}">
  </div>
  <div class="offset-1 col-10 col-md-6 col-lg-4 my-auto">
    <div class="h1 text-primary fw-bold text-center my-4">Bienvenido de nuevo</div>
    <form (ngSubmit)="login()" #form="ngForm">
      <div class="row g-0 mb-2">
        <div class="offset-md-1 col-md-10 form-group form-floating my-1">
          <input type="text" class="form-control" autocomplete="off" name="usuario"
          placeholder="Usuario" [(ngModel)]="userLogin.usuario" required>
          <label>Usuario</label>
        </div>
        <div class="offset-md-1 col-md-10 form-group form-floating my-1">
          <input type="password" class="form-control" name="password"
          placeholder="Contraseña" [(ngModel)]="userLogin.password" required>
          <label>Contraseña</label>
        </div>
        <div class="offset-md-1 col-md-10 mt-4" id="alertLogin">
          <div class="d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Iniciar sesión</button>
            <a class="mt-2 mb-4 mb-md-0" [routerLink]="['/registro']">No tengo cuenta</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
