<div class="row g-0">
  <div class="d-md-flex align-items-center py-4">
    <div class="h1 offset-1 col-10 col-md-4 col-lg-6 my-2"
      [ngClass]="{'display-5 text-secondary fw-bold': url.includes('/perfil-usuario'), 'text-primary': !url.includes('/perfil-usuario')}">
      Lista de <span *ngIf="url.includes('/perfil-usuario')"> tus </span> recetas:
    </div>
    <a type="button" class="btn btn-success offset-1 col-10 offset-md-0 col-md-3 col-lg-2 me-md-2" [routerLink]="['.']"
      [queryParams]="getQueryParams(1, 'id', 'asc', nombre, tipo, necesidades, dificultad)">Reestablecer orden</a>
    <div class="btn-group dropdown offset-1 col-10 offset-md-0 col-md-3 col-lg-2">
      <button type="button" class="btn btn-secondary">
        <span class="icon text-white-50"><i class="fa-solid fa-sort"></i></span>
        <span class="text"> Ordenar recetas </span>
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
        aria-expanded="false"></button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <h6 class="dropdown-header">Dificultad</h6>
        </li>
        <li><a class="dropdown-item" [routerLink]="['.']"
            [queryParams]="getQueryParams(1, 'dificultad', 'asc', nombre, tipo, necesidades, dificultad)">Ascendente</a>
        </li>
        <li><a class="dropdown-item" [routerLink]="['.']"
            [queryParams]="getQueryParams(1, 'dificultad', 'des', nombre, tipo, necesidades, dificultad)">Descendente</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <h6 class="dropdown-header">Fecha de publicación</h6>
        </li>
        <li><a class="dropdown-item" [routerLink]="['.']"
            [queryParams]="getQueryParams(1, 'creacion', 'asc', nombre, tipo, necesidades, dificultad)">Ascendente</a>
        </li>
        <li><a class="dropdown-item" [routerLink]="['.']"
            [queryParams]="getQueryParams(1, 'creacion', 'des', nombre, tipo, necesidades, dificultad)">Descendente</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion offset-1 col-10 col-lg-3 mb-5 bg-success rounded-3" id="accordionFilters">
    <div class="accordion-item bg-success border-0">
      <h2 class="accordion-header" id="filters">
        <button class="accordion-button bg-success shadow-none collapsed" *ngIf="innerWidth<992, else noButton" type="button" data-bs-toggle="collapse" data-bs-target="#filterscollapseFilters" [attr.aria-expanded]="innerWidth>=992" aria-controls="filterscollapseFilters">
          <div class="h2 text-white"><i class="fa-solid fa-filter"></i>Filtros</div>
        </button>
        <ng-template #noButton><div class="h2 text-white ps-3 pt-3"><i class="fa-solid fa-filter"></i>Filtros</div></ng-template>
      </h2>
      <div id="filterscollapseFilters" class="accordion-collapse collapse border-0" [ngClass]="{'show':innerWidth>=992}" aria-labelledby="filters" data-bs-parent="#accordionFilters">
        <div class="accordion-body">
          <form>
            <div class="form-group row g-0 mb-2 bg-white bg-opacity-50 rounded-4 p-3">
              <label class="form-label h3">Tipo:&nbsp;</label>
              <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="dulce" [(ngModel)]="tipo"
                  (change)="filter(nombre, tipo, necesidades, dificultad)">
                <label class="btn btn-danger" for="btnradio1">Dulce</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="salado" [(ngModel)]="tipo"
                  (change)="filter(nombre, tipo, necesidades, dificultad)">
                <label class="btn btn-info" for="btnradio2">Salado</label>
              </div>
            </div>
            <div class="form-group row g-0 mb-2 bg-white bg-opacity-50 rounded-4 p-3">
              <label class="form-label h3">Necesidades especiales:&nbsp;</label>
              <div class="form-check form-switch" *ngFor="let item of needs">
                <input class="form-check-input" type="checkbox" name="needs" [value]="item.value" (change)="getNecesidades()"
                  [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="needs">{{item.title}}</label>
              </div>
            </div>
            <div class="form-group mb-2 bg-white bg-opacity-50 rounded-4 p-3">
              <label class="form-label h3">Dificultad:&nbsp;</label><br>
              <span *ngFor="let star of [1, 2, 3, 4 , 5]" (click)="filter(nombre, tipo, necesidades, star)" class="fa-star"
                [ngClass]="{'fas':star<=dificultad, 'far':star>dificultad}"></span>
            </div>
            <button type="reset" class="btn btn-secondary btn-icon-split my-auto" (click)="filter('', '', '', 0)">
              <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
              <span class="text"> Borrar<span class="d-none d-lg-inline"> todos los</span> filtros</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0 col col-lg-8" *ngIf="repices && repices.length; else noRepices">
    <repice-item class="offset-1 col-10 col-md-5 mt-4" *ngFor="let repice of repices, even as isEven" [repice]="repice"
      [ngClass]="{'me-lg-1':isEven, 'offset-md-0 ms-lg-1': !isEven}" (deleteRepice)="borrarReceta()"></repice-item>
    <div
      class="offset-md-4 col-md-7 offset-lg-7 col-lg-4 d-flex flex-row mt-4 align-items-center justify-content-center justify-content-md-end">
      <span>Mostrar&nbsp;</span>
      <select class="form-select w-25" id="size" [(ngModel)]="size" (change)="getRecetas()">
        <option class="d-sm-none" value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option class="d-none d-md-block" value="16">16</option>
      </select>
      <span>&nbsp;de {{count}} recetas</span>
    </div>
  </div>
  <ng-template #noRepices>
    <div class=" row g-0 col col-lg-8 my-4 pb-5 text-muted align-items-center">
      <img class="offset-1 col-10 offset-lg-0 col-lg-5" src="../../assets/error.png" alt="Sin recetas">
      <div class="offset-1 col-10 offset-lg-0 col-lg-6 text-center">
        <h3>¡Uy! No se han encontrado recetas</h3>
        <div class="fs-5" *ngIf="!repices; else notFound">
          Estamos experimentando fallos en nuestro servidor. Sentimos las molestias.
          <div class="text-danger fw-bold mt-4" id="server_error_r"></div>
        </div>
        <ng-template #notFound>
          <div class="fs-5">
            Nuestros usuarios todavía no guardaron ninguna receta que concuerde con tus filtros de búsqueda.<br>
            Puedes <a [routerLink]="['/registro']">registrarte</a> o <a [routerLink]="['/login']">iniciar sesión</a>
            para guardar una receta que coincida con los parámetros que has elegido.
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <div class="d-flex justify-content-center mt-3" *ngIf="repices && repices.length">
    <ul class="pagination" [ngClass]="{'pagination-lg':innerWidth>=576}">
      <li class="page-item" [ngClass]="{'disabled': pag === 1}">
        <a class="page-link" [routerLink]="['.']"
          [queryParams]="getQueryParams(pag-1, sortField, sortDir, nombre, tipo, necesidades, dificultad)">&laquo;</a>
      </li>
      <li class="page-item" [ngClass]="{'active': pag === P}" *ngFor="let P of pages, let i=index">
        <a class="page-link" [ngClass]="{'opacity-75': P === '...'}" [routerLink]="['.']"
          [queryParams]="getQueryParams(P!=='...' ? +P : +pages[i-1]+1, sortField, sortDir, nombre, tipo, necesidades, dificultad)">{{P}}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': pages[pages.length-1] === pag}">
        <a class="page-link" [routerLink]="['.']"
          [queryParams]="getQueryParams(pag+1, sortField, sortDir, nombre, tipo, necesidades, dificultad)">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
