<div class="card h-100 text-white" [ngClass]="{'bg-danger':repice.tipo === 'Dulce', 'bg-info':repice.tipo !== 'Dulce'}">
  <img [src]="repice.imagen" [alt]="repice.nombre" [title]="repice.nombre" class="card-img-top object-fit-cover">
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="card-title h3">
      <a class="text-decoration-none link-light" [routerLink]="['/recetas', repice.id]">{{repice.nombre}}</a>
    </div>
    <div class="card-text">
      <div class="fw-bold" *ngIf="repice.necesidades.length, else noNeeds">{{repice.necesidades.join(', ')}}</div>
      <ng-template #noNeeds>
        <div class="fw-bold">Ver <a [routerLink]="['necesidades-especiales']" class="link-dark">necesidades especiales</a> </div>
      </ng-template>
      <span class="fw-bold">
        Dificultad: <span *ngFor="let star of [1, 2, 3, 4 , 5]" class="fa-star"
        [ngClass]="{'fas':star<=repice.dificultad, 'far':star>repice.dificultad}"></span>
      </span>
      <button *ngIf="cuentaUsuario()" type="button" class="btn btn-light w-100 mt-2" placement="bottom" (click)="borrarReceta()"
      ngbTooltip="Se borrará la receta para todos. Si estás seguro de borrarla, pulsa el botón">Borrar receta</button>
    </div>
  </div>
  <div class="card-footer text-white">
    <b>Fecha de publicación:</b> {{repice.creacion| date:'dd/MM/y'}}
  </div>
</div>
