<div class="row g-0">
  <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <h1 class="display-5 text-dark text-center fw-bold mt-5">Cambia tu contraseña</h1>
    <form (ngSubmit)="changePassword()" #form="ngForm">
      <div class="row g-0">
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': passwordIncorrecto}"
          id="password" name="password" placeholder="Contraseña actual" [(ngModel)]="userPass.password" required>
          <div class="invalid-feedback">Contraseña incorrecta</div>
          <label for="password">Contraseña actual</label>
        </div>
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': passwordIncorrecto}"
          id="new_password" name="new_password" placeholder="Nueva contraseña" [(ngModel)]="userPass.new_password" required>
          <div class="invalid-feedback">Contraseña incorrecta</div>
          <label for="new_password">Nueva contraseña<span class="text-danger">*</span></label>
        </div>
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': passwordIncorrecto}"
          id="new_pass" name="new_pass" placeholder="Contraseña" [(ngModel)]="new_pass" required>
          <div class="invalid-feedback">Contraseña incorrecta</div>
          <label for="new_pass">Confirma la nueva contraseña<span class="text-danger">*</span></label>
        </div>
        <div class="offset-lg-2 col-lg-8 mt-4 mb-3" id="alertPass">
          <div class="text-danger fw-light mb-3">
            *La contraseña debe tener al menos 8 caracteres, entre ellos mínimo una letra mayúscula, una letra minúscula y un número
          </div>
          <div class="row g-0">
            <button type="button" class="btn btn-secondary col-md-4 mb-3 mb-md-0" (click)="reset()">Borrar datos</button>
            <button type="submit" class="btn btn-primary offset-md-2 col-md-6" [disabled]="form.invalid">Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
