<div class="row g-0">
  <div class="d-none d-md-block col-md-4 col-lg-6 p-0">
    <img src="../../assets/sanji.png" alt="Registro" class="object-fit-cover w-100" [ngStyle]="{'height':'calc(100vh - 76px)'}">
  </div>
  <div class="offset-1 col-10 col-md-6 col-lg-4 my-auto">
    <div class="h1 text-primary fw-bold text-center mt-3">Crea tu cuenta</div>
    <form (ngSubmit)="addUser(newUser)" #form="ngForm">
      <div class="row g-0">
        <div class="h3 text-info text-center text-decoration-underline mb-3">Datos personales</div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="text" class="form-control" autocomplete="off" id="nombre" name="nombre" [ngClass]="{'is-invalid': buscarErrores('nombre') !== -1,
          'is-valid': errores.length && buscarErrores('nombre') === -1}" placeholder="Nombre" [(ngModel)]="newUser.datosUsuario!.nombre" required>
          <div class="invalid-feedback">{{errores[buscarErrores('nombre')]}}</div>
          <label for="nombre">Nombre<span class="text-danger">*</span></label>
        </div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="text" class="form-control" autocomplete="off" id="apellido" name="apellido" [ngClass]="{'is-invalid': buscarErrores('apellido') !== -1,
          'is-valid': errores.length && buscarErrores('apellido') === -1}" placeholder="Apellido" [(ngModel)]="newUser.datosUsuario!.apellido">
          <div class="invalid-feedback">{{errores[buscarErrores('apellido')]}}</div>
          <label for="apellido">Apellido</label>
        </div>
        <div class="form-group form-floating my-1 offset-md-3 col-md-6">
          <input type="text" class="form-control" autocomplete="off" id="teléfono" name="teléfono" [ngClass]="{'is-invalid': buscarErrores('teléfono') !== -1,
          'is-valid': errores.length && buscarErrores('teléfono') === -1}" placeholder="Teléfono" [(ngModel)]="newUser.datosUsuario!.telefono">
          <div class="invalid-feedback">{{errores[buscarErrores('teléfono')]}}</div>
          <label for="teléfono">Teléfono</label>
        </div>

        <div class="h3 text-info text-center text-decoration-underline mt-2 mb-3">Datos de la cuenta</div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="text" class="form-control" autocomplete="off" [ngClass]="{'is-invalid': buscarErrores('usuario') !== -1 || usuarioExistente,
          'is-valid': errores.length && buscarErrores('usuario') === -1 && !usuarioExistente}" id="usuario" name="usuario" placeholder="Usuario" [(ngModel)]="newUser.usuario" required>
          <div class="invalid-feedback" *ngIf="!usuarioExistente, else usuarioRepetido">{{errores[buscarErrores('usuario')]}}</div>
          <ng-template #usuarioRepetido><div class="invalid-feedback">Este usuario ya existe</div></ng-template>
          <label for="usuario">Usuario<span class="text-danger">*</span></label>
        </div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="email" class="form-control" autocomplete="off" [ngClass]="{'is-invalid': buscarErrores('correo') !== -1 || correoExistente,
          'is-valid': errores.length && buscarErrores('correo') === -1 && !correoExistente}" id="correo" name="correo" placeholder="Correo electrónico" [(ngModel)]="newUser.correo" required>
          <div class="invalid-feedback" *ngIf="!correoExistente, else correoRepetido">{{errores[buscarErrores('correo')]}}</div>
          <ng-template #correoRepetido><div class="invalid-feedback">Este correo ya está registrado</div></ng-template>
          <label for="correo">Correo electrónico<span class="text-danger">*</span></label>
        </div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': buscarErrores('password') !== -1,
          'is-valid': errores.length && buscarErrores('password') === -1}" id="password" name="password" placeholder="Contraseña" [(ngModel)]="newPassword" required>
          <div class="invalid-feedback"> {{errores[buscarErrores('password')]}}</div>
          <label for="password">Contraseña<span class="text-danger">**</span></label>
        </div>
        <div class="form-group form-floating my-1 col-md-6">
          <input type="password" class="form-control" [ngClass]="{'is-invalid':newUser.password !== newPassword || buscarErrores('password') !== -1,
          'is-valid':newUser.password === newPassword && newPassword}" id="password2" name="password2" placeholder="Confirma la contraseña" [(ngModel)]="newUser.password" required [pattern]="newPassword">
          <div class="invalid-feedback" *ngIf="newUser.password !== newPassword">Las contraseñas no coinciden</div>
          <label for="password2">Confirma la contraseña<span class="text-danger">**</span></label>
        </div>
        <div class="form-group my-3" [ngClass]="{'col-md-6':newUser.imagen}">
          <label for="imagen">Imagen</label>
          <input type="file" class="form-control" id="imagen" name="image" #fileImage (change)="changeImage(fileImage)" accept="image/png">
        </div>
        <img *ngIf="newUser.imagen" [src]="newUser.imagen" class="object-fit-cover rounded-circle offset-md-1 col-md-5 mx-auto">
        <div class="text-danger fw-light my-2">
          *Campos obligatorios<br>
          **La contraseña debe tener al menos 8 caracteres, entre ellos mínimo una letra mayúscula, una letra minúscula y un número
        </div>
        <div class="my-3 d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" (click)="reset(fileImage)">Borrar datos</button>
          <div class="mx-3"></div>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registrarse</button>
        </div>
      </div>
    </form>
    <div class="text-center my-2">
      <a [routerLink]="['/login']">Prefiero iniciar sesión</a>
    </div>
  </div>
</div>
