<div class="row g-0 position-relative">
  <img src="../../assets/welcome.jpg" alt="Bienvenid@">
  <h1 class="position-absolute display-1 text-success text-center fw-bold">Bienvenid@ a {{title}}</h1>
</div>
<div class="my-5"></div>
<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Echa un vistazo a lo que ofrece esta web</h3>
      </div>
      <div class="my-3"></div>
      <div class="row text-center">
          <div class="row offset-md-1 col-md-4 offset-lg-0">
              <span class="d-none d-md-block fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-mitten fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Gran variedad de recetas</h4>
              <p class="text-muted">
                En esta web encontrarás recetas para todos los gustos y niveles. Tanto si quieres
                seguir una receta sencilla o enfrentarte a un reto, ¡no podrás elegir solo una!
              </p>
          </div>
          <div class="row offset-md-2 col-md-4 offset-lg-0">
              <span class="d-none d-md-block fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-info fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Recetas para todos...</h4>
              <p class="text-muted">
                Nos gusta compartir nuestra afición por la cocina a todos, por lo que contamos con recetas para intolerantes
                tanto a la lactosa como al gluten, además de recetas veganas.
              </p>
          </div>
          <div class="row offset-md-1 col-md-4 offset-lg-0">
              <span class="d-none d-md-block fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-mobile-screen-button fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">... y en cualquier lugar</h4>
              <p class="text-muted">
                Ofrecemos la misma experiencia en cualquier dispositivo, para que puedas mirar y seguir cualquiera
                de nuestras recetas en todos los sitios que quieras.
              </p>
          </div>
          <div class="row offset-md-2 col-md-4 offset-lg-2">
              <span class="d-none d-md-block fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Amplia lista de usuarios</h4>
              <p class="text-muted">
                En nuestro blog fomentamos una comunidad sana y abierta. Si te gusta nuestra web, únete,
                es totalmente gratis y tendrás acceso al siguientes servicio.
              </p>
          </div>
          <div class="row offset-md-4 col-md-4 offset-lg-0">
              <span class="d-none d-md-block fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-upload fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Nuevas recetas cada día</h4>
              <p class="text-muted">
                ¿Tienes alguna receta que te gustaría compartir o has visto alguna que piensas que debería estar en este blog?
                Rellena nuestro formulario y enséñasela a todos.
              </p>
          </div>
      </div>
  </div>
</section>
