<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img alt="Logo de SweetStoves" src="../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWeb" aria-controls="navbarWeb" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarWeb">
      <ul class="navbar-nav d-flex flex-row text-center order-lg-2 bg-light bg-opacity-25 rounded" *ngIf="!user, else cuentaUser">
        <li class="nav-item flex-fill" *ngFor="let item of navbar_user, last as isLast">
          <a class="nav-link" [ngClass]="{'border-start': isLast}" [routerLink]="[item.link]" [routerLinkActive]="['active']">
            <i [class]="'fas fa-'+item.icon"></i> {{item.titulo}}
          </a>
        </li>
      </ul>
      <ng-template #cuentaUser>
        <ul class="navbar-nav order-lg-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/perfil_usuario']" [routerLinkActive]="['active']">{{user.usuario}}</a>
          </li>
        </ul>
      </ng-template>
      <ul class="navbar-nav me-auto order-lg-1">
        <li class="nav-item" *ngFor="let item of navbar_menu">
          <a class="nav-link" [routerLink]="[item.link]" [routerLinkActive]="['active']">{{item.titulo}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
